<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Marie-Aude LENOIR">
        <title>{% block title %}{% endblock %}</title>


        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="http://127.0.0.1:8000/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Bootstrap 4 CSS -->
        {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> #}
        <!-- Custom styles for this template -->
        <link href="http://127.0.0.1:8000/css/trocmodekids.css" rel="stylesheet">
        <!-- Chosen CSS for form selects -->
        {# <link type="text/css" href="http://127.0.0.1:8000/vendor/jquery/chosen_v1.8.5/chosen.min.css" rel="stylesheet">       #}
        {% endblock %}

        {% block javascripts %}
        <!-- Bootstrap core JavaScript -->
        <script src="http://127.0.0.1:8000/vendor/jquery/jquery.min.js"></script>
        <script src="http://127.0.0.1:8000/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        {# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> #}
        <!-- Bootstrap 4 JavaScript -->
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> #}
        {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh3U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> #}
        <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/js/jquery-1.12.4.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script type="text/javascript" src="http://127.0.0.1:8000/vendor/jquery/jquery-3.3.1.min.js"></script>
        <!--<![endif]-->
        {# script for form selects #}
        {# <script type="text/javascript" src="http://127.0.0.1:8000/vendor/jquery/chosen_v1.8.5/chosen.jquery.min.js"></script> #}
        <!-- Anchor Script -->
        <script>
            var shiftWindow = function() { scrollBy(0, -135) };
            window.addEventListener("hashchange", shiftWindow);
            function load() { if (window.location.hash) shiftWindow(); }
        </script>
        {% endblock %}
        
    </head>

    <body>
        <div id="navigation">
        {% block navigation %}
            <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('home_show') }}"><img src="http://127.0.0.1:8000/images/Logo_troc_mode_kids.png" height="100px" alt="Troc&amp;Mode Kids"></a>
                    <h3 class="blue text-left navbarline">Donnez utile <br> Achetez raisonné <br> Devenez "surcycleur"</h3>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>                   
                    <div class="collapse navbar-collapse navbarline navbarline-right" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                            {% if app.user %}
                                {# <a class="nav-link" href="{{ path('member_show', {'id': app.session.get('user').id}) }}"> {{ app.session.get('user').MemberSurname }}</a> #}
                                <a class="nav-link d-none d-md-inline-block" href="/member/{{app.user.id}}">
                                    <img class="" src="http://127.0.0.1:8000/images/Icone_PROFIL.png" height="30px">
                                    <p>{{ app.user.MemberSurname }}</p>
                                    <br>
                                 </a>
                            {% else %}
                                <a class="nav-link d-none d-md-inline-block" href="{{ path('member_setSession') }}">
                                    <img class="" src="http://127.0.0.1:8000/images/Icone_PROFIL.png" height="30px">
                                    <p>Je m'identifie</p>
                                    <br>
                                </a>
                            {% endif %}
                            </li>
                            <li class="nav-item">
                            {% if app.user %}
                                <a class="nav-link d-none d-md-inline-block" href="{{ path('security_logout') }}">
                                    <img class="" src="http://127.0.0.1:8000/images/Icone_DECONNEXION.png" height="30px">
                                    <p>Je me déconnecte</p>
                                    <br>
                                </a>
                            {% endif %}
                            </li>
                            <li class="nav-item">
                            {% if app.session.get('cart') %}
                                <a class="nav-link d-none d-md-inline-block" href="{{ path('delivery_bag_showCart') }}">
                                    <img class="" src="http://127.0.0.1:8000/images/Icone_SAC_134x115.png" height="30px">
                                    <p>Mon sac</p>
                                    <br>
                                </a>
                            {% endif %}
                            </li>
                            <li class="nav-item dropdown">
                                <img class="d-none d-md-inline-block" src="http://127.0.0.1:8000/images/Icone_MENU.png" height="30px">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu</a>
                                <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                                    <a class="dropdown-item d-block d-md-none d-lg-none d-xl-none" href="{{ path('member_setSession') }}">
                                    {% if app.user %}
                                        {{ app.user.MemberSurname }}
                                    {% else %}
                                        Je m'identifie
                                    {% endif %}
                                    </a>
                                    <a class="dropdown-item d-block d-md-none d-lg-none d-xl-none" href="{{ path('security_logout') }}">Je me déconnecte</a>
                                    {% if app.session.get('cart') %}
                                    <a class="dropdown-item d-block d-md-none d-lg-none d-xl-none" href="{{ path('delivery_bag_showCart') }}">Mon sac</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('concept_show') }}">Le concept</a>
                                    <a class="dropdown-item" href="{{ path('member_new') }}">Je m'inscris</a>
                                    <a class="dropdown-item" href="{{ path('school_stop_index') }}">Je donne</a>
                                    <a class="dropdown-item" href="{{ path('article_selection') }}">Je trouve</a>
                                    <a class="dropdown-item" href="{{ path('workshop_index') }}">Je participe</a>
                                    <a class="dropdown-item" href="{{ path('news_index') }}">Je m'informe</a>
                                    {# A FAIRE #}
                                    {# <a class="dropdown-item" href="{{ path('member_contact') }}">Contact</a> #}
                                    {% if app.session.get('user') %}
                                        {% for role in app.session.get('user').MemberRole %}
                                            {% if role.id ==  "6" %}
                                            <a class="dropdown-item" href="{{ path('member_admin') }}">Admin</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        </div>

        <div id="content">
            {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
            {% endfor %}
        </div>

        <div>
        
        {% block body %} {% endblock %}
        </div>

        <footer class="py-2 bg-blue">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-6 text-center mx-2 my-1 text-white ">
                        <div class="row justify-content-around">
                            <a href="#"><p>CONTACT</p></a>
                            <a href="#"><p>CGU</p></a>
                            <a href="#"><p>MENTIONS LEGALES</p></a>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-2 my-1 justify-content-around">
                        <a href="#"><img src="http://127.0.0.1:8000/images/Icone_FACEBOOK.png"</a>
                        <a href="#"><img src="http://127.0.0.1:8000/images/Icone_INSTAGRAM.png"</a>
                        <a href="#"><img src="http://127.0.0.1:8000/images/Icone_PINTEREST.png"</a>
                    </div>
                    <p class="m-2 text-white">Copyright &copy; Troc&Mode Kids 2018</p>
                </div>
            </div>
            <!-- /.container -->
        </footer>


    </body>


</html>
