{% extends 'base.html.twig'%}
{% block title %}Troc&Mode Kids{% endblock %}

{% block body %}

<!-- Page Content -->

     <!-- Carousel -->
     <div id="section1">
      <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One -->
              <div class="carousel-item active carousel-image1">
                <div class="carousel-caption d-none d-md-block">
                  <a href="#" >
                  <h2>Donnez utile</h2>
                  </a>
                </div>
              </div>
            <!-- Slide Two -->
            <div class="carousel-item carousel-image2">
              <div class="carousel-caption d-none d-md-block">
                <a href="#" >
                <h2>Achetez raisonné</h2>
                </a>
              </div>
            </div>
            <!-- Slide Three -->
            <div class="carousel-item carousel-image3">
              <div class="carousel-caption d-none d-md-block">
              <a href="#" >
                <h2>Devenez "surcycleur"</h2>
                </a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </header>
    </div>
  
  <div class="container">
  <!-- Section 1 :  Où Quand Comment -->
    <div>
      <br>
      <h3 class="orange">TROC & Mode Kids vous apporte des solutions pour mieux gérer le recyclage des vêtements d'enfants. </h3>
      <div class="row">
        <div class="col-lg-4 my-3">
          <div class="row justify-content-center d-flex align-items-center">
            <img src="http://127.0.0.1:8000/images/Icone_LIEU_46x74.png">
            <p class="px-4">Castelnau-le-lez<br>Jacou - Le Crès</p>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="row justify-content-center d-flex align-items-center">
            <img src="http://127.0.0.1:8000/images/Icone_CALENDRIER_78x74.png">
            <p class="px-4">A partir du <br>printemps 2019</p>
          </div>
        </div>
        <div class="col-lg-4 my-3">
          <div class="row justify-content-center d-flex align-items-center">
            <img src="http://127.0.0.1:8000/images/Icone_VIDEO_74x74.png">
            <p class="px-4">Le concept</p>
          </div>
        </div>
      </div>
      <a href="#section2"><img src="http://127.0.0.1:8000/images/Icone_Chevron.png"></a>
      <br>
      <br>
    </div>

    <!-- Section 2 : 4 actions -->
    <div id="section2">
      <h3 class="orange">Quelles sont vos envies ?</h3>
      <br>
      <div class="row justify-content-center">
          <div class="col-lg-4 m-3">
            <a href="{{ path('school_stop_index') }}">
                <p class="question mb-2">Vous ne savez pas quoi faire des vêtements trop petits de vos enfants ?</p>
                <img class="jedonne" src="http://127.0.0.1:8000/images/Icone_JE_DONNE_ORANGE_204x115.png">
            </a>
          </div>
          <div class="col-lg-4 m-3">
            <a href="{{ path('article_selection') }}">
              <p class="question mb-2">Vous chercher des vêtements d’enfants de qualité à prix accessibles ?</p>
              <img class="jetrouve" src="http://127.0.0.1:8000/images/Icone_JE_TROUVE_ORANGE_204x115.png">
            </a>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 m-3">
          <a href="{{ path('workshop_index') }}">
            <p class="question">Vous êtes passionné(e) de couture ou vous souhaitez vous former ?</p>
            <p class="mb-2">  </p>
            <br>
            <img class="jedonne" src="http://127.0.0.1:8000/images/Icone_JE_CREE_ORANGE_204x115.png">
          </a>
        </div>
        <div class="col-lg-4 m-3">
          <a href="{{ path('news_index') }}">
            <p class="question mb-2">Vous voulez connaître les dernières initiatives concernant le recyclage des vêtements   ?</p>
            <img class="jetrouve" src="http://127.0.0.1:8000/images/Icone_JE_MINFORME_ORANGE_204x115.png">
          </a>
        </div>
      </div>
      <br>
      <a href="#section3"><img src="http://127.0.0.1:8000/images/Icone_Chevron.png"></a>
      <br>
      <br>
    </div>  

    <!-- Section 3 : 6 Arguments -->
    <div id="section3">
        <h3 class="orange">Pourquoi donner et acheter ses vêtements via TROC&Mode Kids ?</h3>
        <div class="row justify-content-center">
            <div class="col-md-4 my-2 mx-1">
              <a href="concept.html.twig" class="block block-image block-image1">
                  <h3 class="block-title">C'est facile !</h3>
                  <p class="block-text">On s'occupe de TOUT (Collecte, Tri, Vente, Recyclage, Préparation de commande, Livraison).</p>
              </a>
            </div>
            <div class="col-md-6 my-2 mx-1">
              <a href="{{ path('school_stop_index') }}" class="block block-plain">
                  <h3 class="block-image-title">C'est simple !</h3>
                  <p class="block-image-text">On récupère TOUS les vêtements d'enfants (toutes les marques, toutes les tailles, tous les états mais PAS les chaussures !).</p>
              </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 my-2 mx-1">
              <a href="{{ path('school_stop_index') }}" class="block block-plain">
                  <h3 class="block-image-title">C'est local !</h3>
                  <p class="block-image-text">On récupère vos dons et on vous livre vos commandes sur le parking de l'école de votre enfant.<br> Les vêtements sont triés dans un local à proximité. Cela crée des emplois locaux !</p>
              </a>
            </div>
            <div class="col-md-4 my-2 mx-1">
              <a href="{{ path('article_selection') }}" class="block block-image block-image2">
                  <h3 class="block-title">C'est accessible !</h3>
                  <p class="block-text">Les arrivages et les petits prix sont accessibles à tous et à tout moment (en ligne).</p>
              </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 my-2 mx-1">
              <a href="concept.html.twig" class="block block-image block-image3">
                  <h3 class="block-title">C'est valorisant !</h3>
                  <p class="block-text">Grâce aux bénévoles qui réparent et customisent, les vêtements abîmés ont une deuxième vie.</p>
              </a>
            </div>
            <div class="col-md-6 my-2 mx-1">
              <a href="{{ path('workshop_index') }}" class="block block-plain">
                  <h3 class="block-image-title">C'est utile !</h3>
                  <p class="block-image-text">Cela permet d'éviter le gaspillage vestimentaire et de faire un geste pour la planète ! <br> Cela permet aussi de faire profiter à beaucoup de parents du coin d'un grand choix de vêtements pour leur(s) enfant(s).</p>
              </a>
            </div>
        </div>
        <br>
        <a href="#section4"><img src="http://127.0.0.1:8000/images/Icone_Chevron.png"></a>
        <br>
        <br>
    </div>

    <!-- Section 4 : Rejoignez nous ! -->
    <div id="section4">
      <div class="row mb-4 mx-1">
        <div class="col-md-8">
          <p>Troc&Mode est une association qui propose des services de collecte, tri, recyclage et revente de vêtements d'enfants sur Castelnau-le-lez, le Crès et Jacou. Tous les bénévoles sont les bienvenus.</p>
        </div>
        <div class="col-md-4 button h3">
          <a href="{{ path('member_new') }}">Rejoignez nous !</a>
        </div>
      </div>
    </div>

  </div>

{% endblock %}