{% extends 'base.html.twig' %}

{% block title %}Je donne{% endblock %}

{% block body %}

<!-- Page Content -->

<!-- Section 1 :  Photo + accroche -->
<div id="section1" class="jedonne-image page-image">
    <a href="#section2" class="page-title orange">
    <h3>Donner vos vêtements à TROC & Mode Kids, c’est utile et facile ...</h3>
    <img src="http://127.0.0.1:8000/images/Icone_Chevron.png">
    </a>
</div>
<br>
    

<div class="container">
        
        <!-- Section 2 :  4 arguments -->
        <span class="anchor" id="section2"></span>
        <div class="page-section">
            <div class="row justify-content-center">
                <div class="col-lg-5 mx-3 my-2">
                        <img src="http://127.0.0.1:8000/images/Icone_CAMION_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">On s’occupe de tout !</h3>
                        <p>Chaque mois, un véhicule de collecte vient récupérer vos dons sur les parkings des écoles. Plus besoin de vous déplacer !</p>
                </div>
                <div class="col-lg-5 mx-3 my-2">
                    <img src="http://127.0.0.1:8000/images/Icone_CINTRE_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">On récupère TOUS les vêtements !</h3>
                        <p>Quelque soit leur état (neufs, en bon état, abîmés), les vêtements seront triés et auront une seconde vie ! Ils doivent juste être lavés et remis dans un sac de dons Troc&Mode kids. Attention : nous nous récupèrons pas les chaussures !</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 mx-3 my-2">
                <img src="http://127.0.0.1:8000/images/Icone_BOUTONS_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">On vous récompense en «boutons» de troc !</h3>
                        <p>En fonction du type de vêtement et de son état, chaque don est récompensé par des «boutons» de troc, dans votre cagnotte ! Ces «boutons» vous permettront d’accéder à d’autres vêtements.</p>
                </div>
                <div class="col-lg-5 mx-3 my-2">
                <img src="http://127.0.0.1:8000/images/Icone_COEUR_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">C’est une bonne action !</h3>
                        <p>Donner des vêtements de seconde main permet de limiter le gaspillage vestimentaire et de faire un geste pour la planète ! Cela permet à tous d’accéder à un grand choix de vêtements !</p>
                </div>
            </div>
            <br>
            <a href="#section3" ><img src="http://127.0.0.1:8000/images/Icone_Chevron.png"></a>
            <br>
            <br>
        </div>

        <!-- Section 3 : Déjà inscrit ou Nouveau ? -->
        <span class="anchor" id="section3"></span>
        <div class="page-section">
            <div class="row mb-4 mx-1">
                <div class="col-md-6 button my-2">
                    <a href="{{ path('member_new') }}">
                        <h3>J’ai pas encore donné.</h3>
                        <h4>Comment récupérer mon sac de don ?</h4>
                        <p>Je m'inscris</p>
                    </a>
                </div>
                <div class="col-md-6 button my-2">
                    <a href="{{ path('member_setSession') }}">
                        <h3>J’ai déjà donné.</h3>
                        <h4>Combien de boutons ai-je dans ma cagnotte ?</h4>
                        <p>Je me connecte</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Section 4 : Les tournées -->
      <div class="row justify-content-center page-section">
        <div class="col-lg-5 my-3 mx-4">
          <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-4">
             <img src="http://127.0.0.1:8000/images/Icone_LIEU_46x74.png">
            </div>
            <div class="col-lg-8">
                <p>Les points de collecte seront communiqués début 2019.</p>
            </div>  
          </div>
        </div>
        <div class="col-lg-5 my-3 mx-4">
          <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-4">
                <img src="http://127.0.0.1:8000/images/Icone_CALENDRIER_78x74.png">
            </div>
            <div class="col-lg-8">
                <p>Les jours de collecte seront communiqués début 2019</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>

     </div>

    
    {# {% if app.session.get('user') %}
        {% for role in app.session.get('user').MemberRole %}
            {% if role.id ==  "6" %}
            <br>
            {% endif %}
        {% endfor %}
    {% else %}
    </div>
    {% endif %}
    <br>
    <h2>Liste des tournées écoles</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Ecole</th>
                <th>Ville</th>
                    {% if app.session.get('user') %}
                        {% for role in app.session.get('user').MemberRole %}
                            {% if role.id ==  "6" %}
                            <th>Actions</th>
                            {% endif %}
                        {% endfor %}
                    {% endif %} 
            </tr>
        </thead>
        <tbody>
        {% for school_stop in school_stops %}
            <tr>
                <td>{{ school_stop.schoolStopDate ? school_stop.schoolStopDate|date('Y-m-d H:i') : '' }}</td>
                <td>{{ school_stop.schoolStopSchool.SchoolName}}</td>
                <td>{{ school_stop.schoolStopSchool.SchoolCity}}</td>
                    {% if app.session.get('user') %}
                        {% for role in app.session.get('user').MemberRole %}
                            {% if role.id ==  "6" %}
                            <td>
                                <a href="{{ path('school_stop_show', {'id': school_stop.id}) }}">show</a>
                                <a href="{{ path('school_stop_edit', {'id': school_stop.id}) }}">edit</a>
                            </td>
                            {{ include('member/_delete_form.html.twig') }}
                            {% endif %}
                        {% endfor %}
                    {% endif %} 
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune tournée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.session.get('user') %}
        {% for role in app.session.get('user').MemberRole %}
            {% if role.id ==  "6" %}
            <a href="{{ path('school_stop_new') }}">Créer une tournée</a>
            {{ include('member/_delete_form.html.twig') }}
            {% endif %}
        {% endfor %}
    {% endif %}  #}
    
</div>
{% endblock %}