{% extends 'base.html.twig' %}

{% block title %}Je trouve{% endblock %}

{% block body %}

<!-- Section 1 :  Photo + accroche -->
<div id="section1" class="jetrouve-image page-image">
    <a href="#section2" class="page-title blue">
    <h3>Acheter des vêtements de seconde main, c’est important ...</h3>
    <img src="http://127.0.0.1:8000/images/Icone_Chevron.png">
    </a>
</div>
<br>
        

<div class="container">


        <!-- Section 2 :  4 arguments -->
        <span class="anchor" id="section2"></span>
        <div class="page-section">
            <div class="row justify-content-center">
                <div class="col-lg-5 m-3">
                        <img src="http://127.0.0.1:8000/images/Icone_RECYCLAGE_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">Pour éviter le gaspillage et faire un geste pour la planète ...</h3>
                        <p>L’industrie textile est la 2ème industrie la plus polluante au monde derrière l’industrie du pétrole. Avoir quelques vêtements de seconde main dans sa garde robe, c’est aider à limiter l’impact de la pollution.</p>
                </div>
                <div class="col-lg-5 m-3">
                    <img src="http://127.0.0.1:8000/images/Icone_POISON_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">Pour préserver votre enfant d’une surexposition aux pesticides ...</h3>
                        <p>Greenpeace a lancé une campagne «detox» pour dénoncer les produits toxiques utilisés par l’industrie du textile. Porter un vêtement qui a été lavé plusieurs fois permet de réduire l’impact de ces produits sur le corps.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 m-3">
                <img src="http://127.0.0.1:8000/images/Icone_ECONOMIES_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">Pour faire de bonnes affaires ...</h3>
                        <p>Sur www.trocmodekids.fr, vous pouvez  accéder à un large choix de vêtements de qualité à prix réduits ! Vous pouvez payer en «boutons» de troc ou seulement en euros. TROC & Mode Kids facture juste les frais de préparation (1€ par vêtement) et de livraison (2€ pour une livraison sur un parking d’école)</p>
                </div>
                <div class="col-lg-5 m-3">
                <img src="http://127.0.0.1:8000/images/Icone_ECRANS_133x74.png" class="mb-2">
                        <h3 class="orange mb-2">Pour se simplifier la vie ...</h3>
                        <p>Vous pouvez accéder 24H/24H à la sélection TROC & Mode Kids sur votre ordinateur, tablette ou smartphone. Choisissez ce qu’il vous plaît, on vous prépare ensuite un sac que l’on vous remettra sur à l’endroit et date que vous aurez choisis.</p>
                </div>
            </div>
            <br>
            <a href="#section3"><img src="http://127.0.0.1:8000/images/Icone_Chevron.png"></a>
            <br>
            <br>
        </div>

        <!-- Section 3 : Déjà inscrit ou Nouveau ? -->
        <div id="section3">
            <div class="row mb-4 mx-1">
                <div class="col-md-6 button my-3">
                    <a href="{{ path('member_new') }}">
                        <h3>J’ai pas encore acheté.</h3>
                        <h4></h4>
                        <p>Je m'inscris</p>
                    </a>
                </div>
                <div class="col-md-6 button my-3">
                    <a href="{{ path('member_setSession') }}">
                        <h3>J’ai déjà acheté.</h3>
                        <h4></h4>
                        <p>Je me connecte</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Section 4 : Catalogue -->
        <div class="row mb-3">
            <div class="col-md-3">
                {% if app.session.get('user') %}
                    <h3>Préselection</h3>
                    <form action="/article/selection" method="post" class="form-group">
                    <select name="preselectionKid" id="preselectionKid" class="form-control dropdown">
                        {% for kid in app.session.get('user').memberKidList %}
                            {% if kid.kidAge > 12 %}
                            {% set age=(kid.kidAge/12) %}
                            <option value="{{kid.id}}">Sélection pour {{kid.kidSurname}} - {{age|round}} ans - Taille {{kid.kidSizeCode}}</option>
                            {% else %} #}
                            <option value="{{kid.id}}">Sélection pour {{kid.kidSurname}} - {{kid.kidAge}} mois - Taille {{kid.kidSizeCode}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" value="VOIR">
                    <br>
                    </form>
                {% endif %}
                <h2>Votre sélection</h2>
                <form action="/article/selection" method="post" class="form-group">
                    {# <label for="selectionGender">Genre</label> #}
                    <select name="selectionGender[]" id="selectionGender" class="form-control mdb-select selectpicker" multiple data-live-search="true" title="Genre" data-style="btn-select">
                        {% for gender in genders %}
                        <option value="{{gender.id}}">{{gender.genderName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {# <label for="selectionSize">Taille(s)</label> #}
                    <select name="selectionSize[]" id="selectionSize" multiple="true" expanded="false" class="form-control mdb-select selectpicker" multiple data-live-search="true" title="Taille" data-style="btn-select">
                        {% for size in sizes %}
                        <option value="{{size.id}}">{{size.sizeName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {# <label for="selectionType">Type(s) de vêtement</label> #}
                    <select name="selectionType[]" id="selectionType" multiple="multiple" class="form-control mdb-select selectpicker" multiple data-live-search="true" title="Type" data-style="btn-select">
                        {% for type in types %}
                        <option value="{{type.id}}">{{type.typeName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {# <label for="selectionSeason">Saison(s)</label> #}
                    <select name="selectionSeason[]" id="selectionSeason" multiple="multiple" class="form-control mdb-select selectpicker" multiple data-live-search="true" title="Saison" data-style="btn-select">
                        {% for season in seasons %}
                        <option value="{{season.id}}">{{season.seasonName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {# <label for="selectionColor">Couleur(s)</label> #}
                    <select name="selectionColor[]" id="selectionColor" multiple="multiple" class="form-control mdb-select selectpicker" multiple data-live-search="true" title="Couleur" data-style="btn-select">
                        {% for color in colors %}
                        <option value="{{color.id}}">{{color.colorName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {# <label for="selectionBrand">Marque(s)</label> #}
                    <select name="selectionBrand[]" id="selectionBrand" multiple="multiple" class="form-control mdb-select selectpicker" multiple data-live-search="true" title="Marque" data-style="btn-select">
                        {% for brand in brands %}
                        <option value="{{brand.id}}">{{brand.brandName}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    {# <label for="selectionWearStatus">Etat usure(s)</label> #}
                    <select name="selectionWearStatus[]" id="selectionWearStatus" multiple="multiple" class="form-control mdb-select selectpicker" multiple data-live-search="true" title="Etat d'usure" data-style="btn-select">
                        {% for wearStatus in wearStatuss %}
                        <option value="{{wearStatus.id}}">{{wearStatus.wearStatusName}}</option>
                        {% endfor %}
                    </select>
                    <div class="row justify-content-center d-flex align-items-center">
                        <input class="col-md-12 button h3" type="submit" value="Filtrer">
                    </div>
                    <a href="{{path('article_selection')}}">Revoir tout le catalogue </a>
                </form>
                
            </div>
            <br> 
            <div class="col-md-9">
                <h3>Articles prochainement disponibles ...</h3>
                    <div class="row">
                        {% for article in articles %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                                <a href="{{ path('article_show', {'id': article.id}) }}">
                                <div class="pola mb-3">
                                    <div class="pola-body d-flex flex-column justify-content-center align-items-center">
                                        <div class="pb-3">
                                            <img class="pola-picture" src="{{ asset('uploads/pictures/' ~ article.articlePicture1)}}" alt="">
                                        </div>
                                        <div class="pola-text pt-3">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12 col-sm-12 col-12 px-0">
                                                    <h4 >{{ article.articleType.TypeName }} {{ article.articleBrand.BrandName |upper }}</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 col-7 px-0 py-0">
                                                    <h4>{{ article.articleGender.GenderName }}<br>{{ article.articleSize.SizeName }}</h4>
                                                </div>
                                                <div class="col-md-5 col-sm-5 col-5">
                                                    <div class="row px-1 align-items-center">
                                                    <h4 class="pt-2 mr-1">{{ article.articlebuttonValue }}</h4>
                                                    <img class="pola-buttonmoney" src="http://127.0.0.1:8000/images/Icone_BOUTON_BLEU_45X45.png" alt="Boutons">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                        </div>
                        {% else %}
                        <p>Nous n'avons plus d'articles dans vos critères actuellement. Réessayez prochainement !</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}

{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script type="text/javascript">

    $('select').selectpicker();
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
    $('.selectpicker').selectpicker('mobile');
}


</script>
            
{% endblock %}
